// 15 columns

@media (min-width: 1250px) {
    .center {
        width: 100%;
    }
}

// 12 columns

@media all and (max-width: 1249px) {
    .center {
        width: 100%;
    }
}

// 9 columns

@media (max-width: 999px) {
    .center {
        width: 100%;
    }
}

// 6 columns

@media (max-width: 767px) {
    .center {
        width: 100%;
    }

    header {
        .logo {
            font-size: 12px;
            text-align: center;
            width: auto;

            a {
                float: none;
            }
        }
    }

    .project-list {
        padding: 0 0 125px 0;

        > li {
            .title {
                font-size: 12px;
                line-height: 12px;
                font-weight: normal;
                margin-bottom: 0;
            }

            .info {
                position: relative;
                display: none;

                p:first-child {
                    display: none;
                }

                h2,
                p {
                    font-size: 12px;
                    line-height: 12px;
                    width: 100%;
                }
            }
        }
    }

    .sub {
        margin: 20px 0 0 0;
    }

    .version {
        display: none;
    }
}

// 4 columns

@media (max-width: 479px) {
    .center {
        width: 100%;
    }
}