@import "compass";

@font-face {
    font-family: 'apercu_promono';
    src: url('apercu_pro_mono-webfont.eot');
    src: url('apercu_pro_mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('apercu_pro_mono-webfont.woff') format('woff'),
         url('apercu_pro_mono-webfont.ttf') format('truetype'),
         url('apercu_pro_mono-webfont.svg#apercu_promono') format('svg');
    font-weight: normal;
    font-style: normal;
}

// css3 animations

.center,
header,
.mirror > div,
.mirror > div > div {
    @include transition(all 600ms cubic-bezier(0.19, 1, 0.22, 1));
}

// basic config

a,
input,
select,
textarea,
button {
    &:hover,
    &:active,
    &:focus {
        outline: 0 none;
    }
}

* {
    @include box-sizing(border-box);
}

.wr {
    float: left;
    width: 100%;
    text-align: center;
}

header,
.main,
footer {
    float: left;
    width: 100%;
}

.center {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    clear: both;
}

// fitvids

.fit-video {
    width: 100%;
}

// custom colors

$white: white;
$black: black;
// $background: #004853;
// $accent: #00B9BD;
$background: #263238;
$accent: #73d0c7;

// custom

::-moz-selection {
    background: $accent;
    color: $background;
}

::selection {
    background: $accent;
    color: $background;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    //@include at2x("../img/loading", gif, 16px, 16px);
    background: $background;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'apercu_promono';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}

// blink

#blink {
    font-style: normal;
    font-size: 34px;
    line-height: 70px;
    text-align: center;
    float: left;
    background: $accent;
    color: $background;
    width: 73px;
    height: 73px;
}

.handle {
    float: left;
    width: 73px;
    height: 73px;
    cursor: ew-resize;
}

// header

header {
    position: fixed;
    bottom: 73px;
    z-index: 3;

    .bar {
        display: inline-block;
        width: 100%;
        background: backgroundaccent;
        background: $accent;
        color: $background;
        margin-top: 1px;
    }

    // logo

    .logo {
        float: left;
        margin: 0;
        font-weight: normal;
        font-style: normal;
        font-size: 13px;
        line-height: 13px;
        position: relative;

        a {
            float: left;
            padding: 10px 20px;
        }
    }

    // menu

    .menu {
        margin: 0;
        padding: 0;
        float: right;
        list-style-type: none;
        font-size: 13px;
        line-height: 35px;

        li {
            float: left;
            border-left: 1px solid $background;

            a {
                float: left;
                padding: 0 20px;
            }
        }
    }

    // commom

    a {
        color: $background;
        text-decoration: none;
    }

}

// mirror

.mirror {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    @include transform(rotateX(0deg) rotateY(180deg) rotateZ(0deg));
    z-index: 2;

    > div {
        bottom: 0;
        position: relative;
        @include transform(rotateX(180deg) rotateY(0deg) rotateZ(180deg));
        padding: 0 80px;

        > div {
            font-size: 13px;
            line-height: 20px;
            padding-bottom: 73px;
            color: #e3e7ee;
        }
    }
}

// main

.home {
    width: 200%;
    position: relative;
    z-index: 1;
    height: 100%;

    .slide {
        position: relative;
        height: 100%;

        &.one {
            background: $background;
            float: left;
            width: 50%;
        }

        &.two {
            background: darken($background, 3%);
            float: left;
            width: 50%;
        }
    }
}

.info {
    width: 200%;
    position: relative;
    z-index: 1;

    .slide {
        position: relative;
        padding: 10px 20px;

        &.one {
            float: left;
            width: 50%;
        }

        &.two {
            float: left;
            width: 50%;
        }
    }
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .content {
        width: 100%;
        position: relative;
        z-index: 1;

        .slide {
            &.one {
                float: left;
                width: 50%;
                padding: 100px;
            }

            &.two {
                float: left;
                width: 50%;
                padding: 100px;
            }
        }
    }
}

// footer

footer {
    float: none;
    display: inline-block;
}

@import "main-responsive.scss";