@import "compass";

@font-face {
    font-family: 'Apercu Pro Mono';
    src: url('apercu_pro_mono-webfont.eot');
    src: url('apercu_pro_mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('apercu_pro_mono-webfont.woff') format('woff'),
         url('apercu_pro_mono-webfont.ttf') format('truetype'),
         url('apercu_pro_mono-webfont.svg#apercu_pro_mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

// css3 animations

.project-list li:before,
.project-list li div:before,
.project-list li div:after,
.mirror > div,
.mirror > div > div {
    @include transition(all 900ms cubic-bezier(.20,1,.22,1));
}

// basic config

a,
input,
select,
textarea,
button {
    &:hover,
    &:active,
    &:focus {
        outline: 0 none;
    }
}

*,
*:before,
*:after {
    @include box-sizing(border-box);
    @include user-select(none);
}

.wr {
    float: left;
    width: 100%;
    text-align: center;
}

header,
.main,
footer {
    float: left;
    width: 100%;
}

// custom colors

$white: white;
$black: black;
$accent: #0e2e3b;

// custom

::-moz-selection {
    background: $accent;
    color: $white;
}

::selection {
    background: $accent;
    color: $white;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #7DB9B3;
    @include background-image(linear-gradient(20deg, #166678, #7db9b3 75%, #d8d7c3));
    font-family: 'Apercu Pro Mono';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    cursor: default;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

// drag!

#blink {
    font-style: normal;
    font-size: 34px;
    line-height: 70px;
    text-align: center;
    float: left;
    background: $accent;
    color: $white;
    width: 73px;
    height: 73px;
    opacity: 1;
    position: relative;
    z-index: 2;
}

.handle {
    float: left;
    width: 73px;
    height: 73px;
    position: relative;
    cursor: ew-resize;

    .flip {
        position: absolute;
        top: 0;
        left: 100%;
        width: 73px;
        height: 73px;
        z-index: 1;
        font-size: 13px;
        line-height: 70px;
        color: $white;
        background: darken($accent,5%);
        @include transform-origin(0%, 50%, null, null);
        @include transform(perspective(1200px) rotateX(0deg) rotateY(90deg) rotateZ(0deg));
        @include transition(all 900ms cubic-bezier(.20,1,.22,1), background 900ms cubic-bezier(.20,1,.22,1) 73ms);

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            width: 73px;
            height: 73px;
            content: 'Drag!';
            text-align: center;
            @include transform-origin(center, center, null, null);
        }
    }

    &:hover {
        .flip {
            background: $accent;
            @include transform(perspective(1200px) rotateX(0deg) rotateY(0deg) rotateZ(0deg));
            @include transition(all 900ms cubic-bezier(.20,1,.22,1), background 900ms cubic-bezier(.20,1,.22,1) 0ms);
        }
    }

    &.back {
        .flip {
            left: 0;
            @include transform(perspective(1200px) rotateX(0deg) rotateY(90deg) rotateZ(0deg));

            &:before {
                @include transform(rotateY(180deg));
            }
        }

        &:hover {
            .flip {
                @include transform(perspective(1200px) rotateX(0deg) rotateY(180deg) rotateZ(0deg));
            }
        }
    }
}

// header

header {
    position: fixed;
    bottom: 37px;
    z-index: 3;

    // logo

    .logo {
        float: left;
        margin: 0;
        font-weight: normal;
        font-style: normal;
        font-size: 13px;
        position: relative;

        a {
            float: left;
        }
    }

    a {
        color: $white;
        text-decoration: none;
    }
}

// header bar

.bar {
    display: inline-block;
    width: 100%;
    background: $accent;
    color: $white;
    margin-top: 1px;
    font-size: 13px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            float: left;
            margin-left: 10px;
        }
    }

    .slides {
        width: 200%;
        position: relative;
        z-index: 1;

        .slide {
            position: relative;
            padding: 10px 20px;

            span {
                float: right;
            }

            &.one {
                float: left;
                width: 50%;
            }

            &.two {
                float: left;
                width: 50%;
            }
        }
    }
}

// mirror

.mirror {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
    @include transform(rotateX(0deg) rotateY(180deg) rotateZ(0deg));

    > div {
        width: 100%;
        left: 0;
        top: 0;
        position: relative;
        @include transform(rotateX(0deg) rotateY(180deg) rotateZ(0deg));
    }
}

// main

.main {
    a {
        color: $white;
        text-decoration: none;
    }

    // about

    .about {
        .slides {
            width: 100%;
            height: 100%;
            top: 0;
            left: 100%;
            position: absolute;
            z-index: 1;

            .slide {
                float: left;
                position: relative;
                width: 100%;
                color: $black;
            }

            p {
                font-size: 10vw;
                line-height: 10vw;
                margin: 5vw;

                span {
                    position: relative;
                    display: block;
                    clear: both;

                    &:nth-child(2) {
                        top: 0.8vw;
                    }

                    &:nth-child(3) {
                        top: 1.4vw;
                    }

                    &:nth-child(4) {
                        top: 2vw;
                    }

                    &:nth-child(5) {
                        top: 2.8vw;
                    }

                    &:nth-child(6) {
                        top: 3.4vw;
                    }

                    &:nth-child(7) {
                        top: 4vw;
                    }

                    &:nth-child(8) {
                        top: 4.8vw;
                    }

                    &:nth-child(9) {
                        top: 5.4vw;
                    }
                }
            }
        }
    }

    // content

    .content {
        .slides {
            width: 100%;
            position: relative;
            z-index: 1;

            .slide {
                float: left;
                position: relative;
                width: 100%;
                color: $white;
            }
        }
    }
}

// project list

.project-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 153px 0;

    > li {
        width: 100%;
        border-bottom: 1px solid $accent;
        opacity: 1;
        position: relative;
        padding: 0;

        > div {
            margin: 0 5vw 0 5vw;
            padding: 4.23vw 0 4.22vw 0;
            position: relative;

            &:before {
                content: '';
                background: #d8d7c3;
                position: absolute;
                right: 0;
                width: 100%;
                bottom: -1px;
                height: 1px;
                pointer-events: none;
                z-index: 2;
                @include transition-delay(225ms);
            }

            // &:after {
            //     content: '';
            //     background: $white;
            //     position: absolute;
            //     left: 0;
            //     width: 100%;
            //     top: -1px;
            //     margin-top: -30px;
            //     top: 50%;
            //     height: 1px;
            //     pointer-events: none;
            //     z-index: 2;
            //     @include transition-delay(225ms);
            // }

            > div {
                position: relative;

                &:before {
                    content: '';
                    background: $white;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 0;
                    height: 2vw;
                    margin-top: -1.1vw;
                    pointer-events: none;
                    z-index: -1;
                    @include transition-delay(450ms);
                }
            }
        }

        .info {
            position: absolute;
            width: 100%;
        }

        > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-indent: -999999px;
            z-index: 3;
        }

        h2,
        p {
            float: left;
            width: 25%;
            font-size: 13px;
            line-height: 13px;
            font-weight: normal;
        }

        h2 {
            i {
                font-style: normal;
            }

            b {
                font-weight: normal;
                display: none;
            }
        }

        .title {
            top: -0.1vw;
            font-size: 2vw;
            font-weight: bold;
            line-height: 2vw;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            z-index: 1;
            margin: 0;
            @include transition(all 900ms cubic-bezier(.20,1,.22,1));

            i {
                font-style: normal;
            }

            b {
                position: relative;
                font-weight: normal;
                display: none;
            }
        }

        &:hover {
            > div {
                > div {
                    &:before {
                        @include transition-delay(225ms);
                        width: 100%;
                        margin-top: -0.9vw;
                    }
                }
            }

            &:before {
                width: 100%;
                @include transition-delay(0ms);
            }

            h2 {
                i {
                    display: none;
                }

                b {
                    display: inline-block;
                }
            }

            .title {
                top: -0.5vw;
                font-size: 11.5vw;
                line-height: 11.5vw;
                letter-spacing: 13vw;
                color: $white;

                i {
                    display: none;
                }

                b {
                    display: inline-block;
                    left: -3vw;
                }
            }
        }
    }
}

@import "main-responsive.scss";