// 15 columns

@media (min-width: 1250px) {
    .center {
        width: 100%;
    }
}

// 12 columns

@media all and (max-width: 1249px) {
    .center {
        width: 100%;
    }
}

// 9 columns

@media (max-width: 999px) {
    .center {
        width: 100%;
    }
}

// 6 columns

@media (max-width: 767px) {
    .center {
        width: 100%;
    }
}

// 4 columns

@media (max-width: 479px) {
    .center {
        width: 100%;
    }
}