@import "compass";

@font-face {
    font-family: 'Apercu Pro Mono';
    src: url('apercu_pro_mono-webfont.eot');
    src: url('apercu_pro_mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('apercu_pro_mono-webfont.woff') format('woff'),
         url('apercu_pro_mono-webfont.ttf') format('truetype'),
         url('apercu_pro_mono-webfont.svg#apercu_pro_mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

// css3 animations

.project-list li:before,
.info,
.button,
.button .front,
.button .back {
    @include transition(all 700ms cubic-bezier(.20,1,.22,1));
}

// basic config

a,
input,
select,
textarea,
button {
    &:hover,
    &:active,
    &:focus {
        outline: 0 none;
    }
}

*,
*:before,
*:after {
    @include box-sizing(border-box);
    @include user-select(none);
}

.wr {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

header,
.main,
footer {
    float: left;
    width: 100%;
}

// custom colors

$white: white;
$black: black;
$accent: #0e2e3b;

// custom vars

$button-width: 73px;
$button-height: 73px;

// custom

::-moz-selection {
    background: $accent;
    color: $white;
}

::selection {
    background: $accent;
    color: $white;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: $accent;
    @include background-image(linear-gradient(20deg, #166678, #7db9b3 75%, #d8d7c3));
    font-family: 'Apercu Pro Mono';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    cursor: default;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    &.isMobile {
        overflow: auto;

        header {
            bottom: 0;
        }
    }
}

// mirror

.mirror {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
    @include transform(rotateX(0deg) rotateY(180deg) rotateZ(0deg));

    > div {
        width: 100%;
        left: 0;
        top: 0;
        position: relative;
        @include transform(rotateX(0deg) rotateY(180deg) rotateZ(0deg));
    }
}

// blink icon

#blink {
    font-size: 34px;
    line-height: 70px;
    font-style: normal;
    text-align: center;
    float: left;
    background: $accent;
    color: $white;
    width: 73px;
    height: 73px;
    position: relative;
    z-index: 2;
}

// drag

#drag {
    width: 100%;
    height: 73px;
    background: rgba($accent,0.73);
    position: absolute;
    bottom: 0;

    // drag - handle

    .handle {
        float: left;
        width: 73px;
        height: 73px;
        position: relative;
        cursor: ew-resize;
        z-index: 3;

        // drag - flip card

        .flip {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 73px;
            height: 73px;

            // drag - flip card - both sides

            &:before,
            &:after {
                position: absolute;
                top: 0;
                width: 73px;
                height: 73px;
                content: 'Drag!';
                text-align: center;
                font-size: 13px;
                line-height: 70px;
                color: $white;
                background: darken($accent, 5%);
                @include transition(all 700ms cubic-bezier(.20,1,.22,1), background 700ms cubic-bezier(.20,1,.22,1) 73ms);
                @include transform-style(preserve-3d);
                @include backface-visibility(hidden);
            }

            // drag - flip card - left side

            &:before {
                left: -100%;
                @include transform(perspective(1000px) rotateY(-95deg));
                @include transform-origin(top, right, null, null);
            }

            // drag - flip card - right side

            &:after {
                left: 100%;
                @include transform(perspective(1000px) rotateY(95deg));
                @include transform-origin(top, left, null, null);
            }
        }

        // flip card - hover

        &:hover {
            .flip:before,
            .flip:after {
                background: $accent;
            }

            .flip:before {
                background: darken($accent, 5%);
                @include transform(perspective(1000px) rotateY(-95deg));
            }

            .flip:after {
                @include transform(perspective(1000px) rotateY(0deg));
            }
        }

        // flip card - back

        &.back {
            .flip:before,
            .flip:after {
                background: darken($accent, 5%);
            }

            .flip:before {
                @include transform(perspective(1000px) rotateY(-95deg));
            }

            .flip:after {
                @include transform(perspective(1000px) rotateY(95deg));
            }

            // flip card - back - hover

            &:hover {
                .flip:before,
                .flip:after {
                    background: $accent;
                }

                .flip:before {
                    @include transform(perspective(1000px) rotateY(0deg));
                }

                .flip:after {
                    background: darken($accent, 5%);
                    @include transform(perspective(1000px) rotateY(95deg));
                }
            }
        }
    }
}

// header

header {
    position: fixed;
    bottom: 37px;
    z-index: 3;

    // logo

    .logo {
        float: left;
        margin: 0 0 0 73px;
        font-weight: normal;
        font-style: normal;
        font-size: 13px;
        position: relative;

        a {
            float: left;
        }
    }

    a {
        color: $white;
        text-decoration: none;
    }
}

// header bar

.bar {
    float: left;
    width: 100%;
    color: $white;
    margin-top: 1px;
    font-size: 13px;
    line-height: 70px;
    height: 73px;
    position: absolute;
    bottom: 0;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            float: left;
            margin-left: 10px;
        }
    }

    .slides {
        width: 200%;
        position: relative;
        z-index: 1;

        .slide {
            position: relative;
            padding: 0 20px;

            span {
                float: right;
            }

            &.one {
                float: left;
                width: 50%;
            }

            &.two {
                float: left;
                width: 50%;
            }
        }
    }
}

// main

.main {
    a {
        color: $white;
        text-decoration: none;
    }

    // about

    .about {
        .slides {
            width: 100%;
            height: 100%;
            top: 0;
            left: 100%;
            position: absolute;
            z-index: 1;

            .slide {
                float: left;
                position: relative;
                width: 100%;
                color: $accent;
            }

            p {
                font-size: 11vw;
                line-height: 9vw;
                margin: 5vw 4.5vw 0 4.5vw;

                span {
                    position: relative;
                    display: block;
                    clear: both;
                    padding: 0 0 1vw 0;
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }

    // content

    .content {
        .slides {
            width: 100%;
            position: relative;
            z-index: 1;

            .slide {
                float: left;
                position: relative;
                width: 100%;
                color: $white;
            }
        }
    }
}

// project list

.project-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 250px 0;

    > li {
        width: 100%;
        border-bottom: 1px solid $accent;
        opacity: 1;
        position: relative;
        padding: 0;

        > div {
            margin: 0 5vw;
            padding: 4vw 0;
            position: relative;

            &:before {
                content: '';
                background: #d8d7c3;
                position: absolute;
                right: 0;
                width: 100%;
                bottom: -1px;
                height: 1px;
                pointer-events: none;
                z-index: 2;
                @include transition-delay(225ms);
            }
        }

        // project list - info

        .info {
            position: absolute;
            width: 100%;
            pointer-events: none;

            h2,
            p {
                float: left;
                width: 25%;
                margin: 0;
            }

            p:nth-child(3) {
                width: 40%;
            }

            p:last-child {
                text-align: right;
                width: auto;
            }
        }

        > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-indent: -999999px;
            z-index: 3;
        }

        h2,
        p {
            font-size: 13px;
            line-height: 13px;
            font-weight: normal;
        }

        h2 {
            i {
                font-style: normal;
            }

            b {
                font-weight: normal;
                display: none;
            }
        }

        // project list - title

        .title {
            top: -0.1vw;
            font-size: 1.5vw;
            font-weight: bold;
            line-height: 2vw;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            width: 100%;
            position: relative;
            z-index: 1;
            margin: 0;
            @include transition(all 700ms cubic-bezier(.20,1,.22,1));

            &:before {
                content: '';
                background: $white;
                position: absolute;
                top: 50%;
                left: 0;
                width: 0;
                height: 1.4vw;
                margin-top: -0.6vw;
                pointer-events: none;
                z-index: -1;
                @include transition(width 700ms cubic-bezier(.20,1,.22,1) 350ms);
            }

            i {
                font-style: normal;
            }

            b {
                position: relative;
                font-weight: normal;
                display: none;
            }
        }

        // project list - hover

        &:hover {
            h2 {
                i {
                    display: none;
                }

                b {
                    display: inline-block;
                }
            }

            .title {
                top: -0.5vw;
                font-size: 11.5vw;
                line-height: 12vw;
                letter-spacing: 13vw;
                color: $white;

                &:before {
                    @include transition(width 700ms cubic-bezier(.20,1,.22,1) 350ms);
                    margin-top: -0.4vw;
                    width: 100%;
                    height: 2vw;
                }

                i {
                    display: none;
                }

                b {
                    display: inline-block;
                    left: -3vw;
                }
            }
        }
    }
}

// sub

.sub {
    list-style-type: none;
    margin: 73px 0 0 0;
    padding: 0;
    display: inline-block;
    width: 100%;

    > li {
        float: left;
        margin-right: 1px;
        position: relative;
        // margin-right: -1px;

        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-indent: -999999px;
            z-index: 3;
        }

        // button

        .button {
            width: $button-width;
            height: $button-height;
            @include transform-style(preserve-3d);
            text-align: center;
            margin: 0 auto;

            .front,
            .back {
                display: block;
                height: $button-height;
                line-height: $button-height;
                background: $accent;
                font-size: 16px;
                text-transform: uppercase;
                color: $white;
                // @include border-radius(3px);
                // border: 1px solid $white;
            }

            .front {
                @include translateZ($button-height/2);
            }

            .back {
                background: darken($accent, 5%);
                @include transform(rotateX(90deg) translateZ($button-height*1.5));
            }
        }

        &:hover {
            .button {
                @include rotateX(-90deg);

                .front {
                    background: darken($accent, 5%);
                }

                .back {
                    background: $accent;
                }
            }
        }
    }
}

@import "main-responsive.scss";