@import "compass";

@font-face {
    font-family: 'Apercu Pro Mono';
    src: url('apercu_pro_mono-webfont.eot');
    src: url('apercu_pro_mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('apercu_pro_mono-webfont.woff') format('woff'),
         url('apercu_pro_mono-webfont.ttf') format('truetype'),
         url('apercu_pro_mono-webfont.svg#apercu_pro_mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

// css3 animations

.center,
.project-list li:before,
.project-list li div:before,
.project-list li div:after,
.mirror > div,
.mirror > div > div {
    @include transition(all 900ms cubic-bezier(.20,1,.22,1));
}

// basic config

a,
input,
select,
textarea,
button {
    &:hover,
    &:active,
    &:focus {
        outline: 0 none;
    }
}

*,
*:before,
*:after {
    @include box-sizing(border-box);
    @include user-select(none);
}

.wr {
    float: left;
    width: 100%;
    text-align: center;
}

header,
.main,
footer {
    float: left;
    width: 100%;
}

.center {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    clear: both;
}

// fitvids

.fit-video {
    width: 100%;
}

// custom colors

$white: white;
$black: black;
$accent: #0e2e3b;

// custom

::-moz-selection {
    background: $accent;
    color: $white;
}

::selection {
    background: $accent;
    color: $white;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #7DB9B3;
    @include background-image(linear-gradient(20deg, #166678, #7db9b3 75%, #d8d7c3));
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Apercu Pro Mono';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    cursor: default;
    overflow: hidden;
}

// drag!

#blink {
    font-style: normal;
    font-size: 34px;
    line-height: 70px;
    text-align: center;
    float: left;
    background: $accent;
    color: $white;
    width: 73px;
    height: 73px;
    opacity: 1;
    position: relative;
    z-index: 2;
}

.handle {
    float: left;
    width: 73px;
    height: 73px;
    position: relative;
    cursor: ew-resize;

    .flip {
        position: absolute;
        top: 0;
        left: 100%;
        width: 73px;
        height: 73px;
        z-index: 1;
        font-size: 13px;
        line-height: 70px;
        color: $white;
        background: darken($accent,5%);
        @include transform-origin(0%, 50%, null, null);
        @include transform(perspective(1200px) rotateX(0deg) rotateY(90deg) rotateZ(0deg));
        @include transition(all 900ms cubic-bezier(.20,1,.22,1), background 900ms cubic-bezier(.20,1,.22,1) 73ms);

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            width: 73px;
            height: 73px;
            content: 'Drag!';
            text-align: center;
            @include transform-origin(center, center, null, null);
        }
    }

    &:hover {
        .flip {
            background: $accent;
            @include transform(perspective(1200px) rotateX(0deg) rotateY(0deg) rotateZ(0deg));
            @include transition(all 900ms cubic-bezier(.20,1,.22,1), background 900ms cubic-bezier(.20,1,.22,1) 0ms);
        }
    }

    &.back {
        .flip {
            left: 0;
            @include transform(perspective(1200px) rotateX(0deg) rotateY(90deg) rotateZ(0deg));

            &:before {
                @include transform(rotateY(180deg));
            }
        }

        &:hover {
            .flip {
                @include transform(perspective(1200px) rotateX(0deg) rotateY(180deg) rotateZ(0deg));
            }
        }
    }
}

// header

header {
    position: fixed;
    bottom: 37px;
    z-index: 3;

    // logo

    .logo {
        float: left;
        margin: 0;
        font-weight: normal;
        font-style: normal;
        font-size: 13px;
        line-height: 13px;
        position: relative;

        a {
            float: left;
            padding: 10px 20px;
        }
    }

    a {
        color: $white;
        text-decoration: none;
    }
}

// header bar

.bar {
    display: inline-block;
    width: 100%;
    background: $accent;
    color: $white;
    margin-top: 1px;
    font-size: 13px;

    .slides {
        width: 200%;
        position: relative;
        z-index: 1;

        .slide {
            position: relative;
            padding: 10px 20px;

            span {
                float: right;
            }

            &.one {
                float: left;
                width: 50%;
            }

            &.two {
                float: left;
                width: 50%;
            }
        }
    }
}

// mirror

.mirror {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
    @include transform(rotateX(0deg) rotateY(180deg) rotateZ(0deg));

    > div {
        width: 100%;
        left: 0;
        top: 0;
        position: relative;
        @include transform(rotateX(0deg) rotateY(180deg) rotateZ(0deg));
    }
}

// main

.main {
    font-size: 13px;
    line-height: 20px;
    color: $white;

    a {
        color: $white;
        text-decoration: none;
    }

    // about

    .about {
        .slides {
            width: 100%;
            height: 100%;
            top: 0;
            left: 100%;
            position: absolute;
            z-index: 1;

            h1 {
                position: relative;
                top: -0.1vw;
                font-size: 2vw;
                line-height: 2vw;
            }

            h1, p {
                margin: 0 0 1vw 0;
            }

            .slide {
                position: relative;
                height: 100%;

                &.one {
                    float: left;
                    width: 50%;
                    padding: 4vw 2.5vw 4vw 5vw;
                }

                &.two {
                    float: left;
                    width: 50%;
                    padding: 4vw 5vw 4vw 2.5vw;
                }
            }
        }
    }

    // content

    .content {
        .slides {
            width: 100%;
            position: relative;
            z-index: 1;

            .slide {
                &.one {
                    float: left;
                    width: 100%;
                }
            }
        }
    }
}

// menu

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;

    li {
        float: left;
        width: 10%;
        margin-right: -1px;

        a {
            display: inline-block;
            width: 100%;
            border: 1px solid $white;
            padding: 1vw;
            @include border-radius(3px);
        }
    }
}

// project list

.project-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 153px 0;

    > li {
        width: 100%;
        border-bottom: 1px solid $accent;
        opacity: 1;
        position: relative;
        padding: 0;

        > div {
            margin: 0 5vw -1px 5vw;
            padding: 4vw 0;
            border-bottom: 1px solid #d8d7c3;
            position: relative;

            // &:before {
            //     content: '';
            //     background: $white;
            //     position: absolute;
            //     right: 0;
            //     width: 100%;
            //     bottom: -1px;
            //     bottom: 50%;
            //     margin-bottom: -30px;
            //     height: 1px;
            //     pointer-events: none;
            //     z-index: 2;
            //     @include transition-delay(225ms);
            // }

            // &:after {
            //     content: '';
            //     background: $white;
            //     position: absolute;
            //     left: 0;
            //     width: 100%;
            //     top: -1px;
            //     margin-top: -30px;
            //     top: 50%;
            //     height: 1px;
            //     pointer-events: none;
            //     z-index: 2;
            //     @include transition-delay(225ms);
            // }

            > div {
                position: relative;

                &:before {
                    content: '';
                    background: $white;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 0;
                    height: 2vw;
                    margin-top: -1.1vw;
                    pointer-events: none;
                    z-index: -1;
                    @include transition-delay(450ms);
                }

                > div {
                    p,
                    h2 {
                        float: left;
                        width: 25%;
                    }
                }
            }
        }

        > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-indent: -999999px;
            z-index: 3;
        }

        h2,
        p,
        .title {
            position: relative;
            z-index: 1;
            margin: 0;
        }

        h2 {
            font-size: 13px;
            line-height: 20px;
            font-weight: normal;

            i {
                font-style: normal;
            }

            b {
                font-weight: normal;
                display: none;
            }
        }

        .title {
            top: -0.1vw;
            font-size: 2vw;
            font-weight: bold;
            line-height: 2vw;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            @include transition(all 900ms cubic-bezier(.20,1,.22,1));

            i {
                font-style: normal;
            }

            b {
                position: relative;
                font-weight: normal;
                display: none;
            }
        }

        &:hover {
            h2 {
                i {
                    display: none;
                }

                b {
                    display: inline-block;
                }
            }

            .title {
                top: -0.5vw;
                font-size: 12vw;
                line-height: 12vw;
                letter-spacing: 13vw;
                color: $white;

                i {
                    display: none;
                }

                b {
                    display: inline-block;
                    left: -3vw;
                }
            }

            > div {
                > div {
                    &:before {
                        @include transition-delay(225ms);
                        width: 100%;
                        margin-top: -0.9vw;
                    }
                }
            }

            &:before {
                width: 100%;
                @include transition-delay(0ms);
            }
        }
    }
}

// guilherme pangnotta

$lemon: #a5f02e;
$mouth: #750b07;
$skin: #d8d7c3;

#guilherme-pangnotta {
    width: 287px;
    height: 390px;
    position: absolute;
    display: block;
    bottom: -100%;
    margin-bottom: -2px;
    z-index: -1;

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-indent: -999999px;
    }

    div {
        width: 7px;
        height: 7px;
        background: transparent;
        @include box-shadow($black 84px 0 0, $black 91px 0 0, $black 98px 0 0, $black 105px 0 0, $black 112px 0 0, $black 119px 0 0, $black 126px 0 0, $black 133px 0 0, $black 140px 0 0, $black 147px 0 0, $black 154px 0 0, $black 161px 0 0, $black 168px 0 0, $black 175px 0 0, $black 182px 0 0, $black 189px 0 0, $black 196px 0 0, $black 77px 7px 0, $black 84px 7px 0, $black 91px 7px 0, $black 98px 7px 0, $black 105px 7px 0, $black 112px 7px 0, $black 119px 7px 0, $black 126px 7px 0, $black 133px 7px 0, $black 140px 7px 0, $black 147px 7px 0, $black 154px 7px 0, $black 161px 7px 0, $black 168px 7px 0, $black 175px 7px 0, $black 182px 7px 0, $black 189px 7px 0, $black 196px 7px 0, $black 203px 7px 0, $black 70px 14px 0, $black 77px 14px 0, $black 84px 14px 0, $black 91px 14px 0, $black 98px 14px 0, $black 105px 14px 0, $black 112px 14px 0, $black 119px 14px 0, $black 126px 14px 0, $black 133px 14px 0, $black 140px 14px 0, $black 147px 14px 0, $black 154px 14px 0, $black 161px 14px 0, $black 168px 14px 0, $black 175px 14px 0, $black 182px 14px 0, $black 189px 14px 0, $black 196px 14px 0, $black 203px 14px 0, $black 210px 14px 0, $black 70px 21px 0, $black 77px 21px 0, $black 84px 21px 0, $black 91px 21px 0, $black 98px 21px 0, $black 105px 21px 0, $black 112px 21px 0, $black 119px 21px 0, $black 126px 21px 0, $black 133px 21px 0, $black 140px 21px 0, $black 147px 21px 0, $black 154px 21px 0, $black 161px 21px 0, $black 168px 21px 0, $black 175px 21px 0, $black 182px 21px 0, $black 189px 21px 0, $black 196px 21px 0, $black 203px 21px 0, $black 210px 21px 0, $black 63px 28px 0, $black 70px 28px 0, $black 77px 28px 0, $black 84px 28px 0, $black 91px 28px 0, $black 98px 28px 0, $black 105px 28px 0, $black 112px 28px 0, $black 119px 28px 0, $black 126px 28px 0, $black 133px 28px 0, $black 140px 28px 0, $black 147px 28px 0, $black 154px 28px 0, $black 161px 28px 0, $black 168px 28px 0, $black 175px 28px 0, $black 182px 28px 0, $black 189px 28px 0, $black 196px 28px 0, $black 203px 28px 0, $black 210px 28px 0, $black 217px 28px 0, $black 56px 35px 0, $black 63px 35px 0, $black 70px 35px 0, $black 77px 35px 0, $skin 84px 35px 0, $skin 91px 35px 0, $skin 98px 35px 0, $skin 105px 35px 0, $skin 112px 35px 0, $black 119px 35px 0, $black 126px 35px 0, $black 133px 35px 0, $black 140px 35px 0, $black 147px 35px 0, $black 154px 35px 0, $black 161px 35px 0, $skin 168px 35px 0, $skin 175px 35px 0, $skin 182px 35px 0, $skin 189px 35px 0, $skin 196px 35px 0, $black 203px 35px 0, $black 210px 35px 0, $black 217px 35px 0, $black 224px 35px 0, $black 56px 42px 0, $black 63px 42px 0, $black 70px 42px 0, $skin 77px 42px 0, $skin 84px 42px 0, $skin 91px 42px 0, $skin 98px 42px 0, $skin 105px 42px 0, $skin 112px 42px 0, $skin 119px 42px 0, $skin 126px 42px 0, $black 133px 42px 0, $black 140px 42px 0, $black 147px 42px 0, $skin 154px 42px 0, $skin 161px 42px 0, $skin 168px 42px 0, $skin 175px 42px 0, $skin 182px 42px 0, $skin 189px 42px 0, $skin 196px 42px 0, $skin 203px 42px 0, $black 210px 42px 0, $black 217px 42px 0, $black 224px 42px 0, $black 56px 49px 0, $black 63px 49px 0, $skin 70px 49px 0, $skin 77px 49px 0, $skin 84px 49px 0, $skin 91px 49px 0, $skin 98px 49px 0, $skin 105px 49px 0, $skin 112px 49px 0, $skin 119px 49px 0, $skin 126px 49px 0, $skin 133px 49px 0, $black 140px 49px 0, $skin 147px 49px 0, $skin 154px 49px 0, $skin 161px 49px 0, $skin 168px 49px 0, $skin 175px 49px 0, $skin 182px 49px 0, $skin 189px 49px 0, $skin 196px 49px 0, $skin 203px 49px 0, $skin 210px 49px 0, $black 217px 49px 0, $black 224px 49px 0, $black 56px 56px 0, $skin 63px 56px 0, $skin 70px 56px 0, $skin 77px 56px 0, $skin 84px 56px 0, lighten($skin, 10%) 91px 56px 0, lighten($skin, 10%) 98px 56px 0, lighten($skin, 10%) 105px 56px 0, lighten($skin, 10%) 112px 56px 0, $skin 119px 56px 0, $skin 126px 56px 0, $skin 133px 56px 0, $black 140px 56px 0, $skin 147px 56px 0, $skin 154px 56px 0, $skin 161px 56px 0, $skin 168px 56px 0, $skin 175px 56px 0, $skin 182px 56px 0, $skin 189px 56px 0, $skin 196px 56px 0, $skin 203px 56px 0, $skin 210px 56px 0, $skin 217px 56px 0, $black 224px 56px 0, darken($skin, 20%) 56px 63px 0, $skin 63px 63px 0, $skin 70px 63px 0, $skin 77px 63px 0, lighten($skin, 10%) 84px 63px 0, lighten($skin, 10%) 91px 63px 0, lighten($skin, 10%) 98px 63px 0, lighten($skin, 10%) 105px 63px 0, lighten($skin, 10%) 112px 63px 0, $skin 119px 63px 0, $skin 126px 63px 0, $skin 133px 63px 0, $skin 140px 63px 0, $skin 147px 63px 0, $skin 154px 63px 0, $skin 161px 63px 0, $skin 168px 63px 0, $skin 175px 63px 0, $skin 182px 63px 0, $skin 189px 63px 0, $skin 196px 63px 0, $skin 203px 63px 0, $skin 210px 63px 0, $skin 217px 63px 0, darken($skin, 20%) 224px 63px 0, darken($skin, 20%) 56px 70px 0, $skin 63px 70px 0, $skin 70px 70px 0, lighten($skin, 10%) 77px 70px 0, lighten($skin, 10%) 84px 70px 0, lighten($skin, 20%) 91px 70px 0, lighten($skin, 20%) 98px 70px 0, lighten($skin, 20%) 105px 70px 0, lighten($skin, 10%) 112px 70px 0, lighten($skin, 10%) 119px 70px 0, lighten($skin, 10%) 126px 70px 0, $skin 133px 70px 0, $skin 140px 70px 0, $skin 147px 70px 0, $skin 154px 70px 0, $skin 161px 70px 0, $skin 168px 70px 0, $skin 175px 70px 0, $skin 182px 70px 0, $skin 189px 70px 0, $skin 196px 70px 0, $skin 203px 70px 0, $skin 210px 70px 0, $skin 217px 70px 0, darken($skin, 20%) 224px 70px 0, darken($skin, 20%) 56px 77px 0, $skin 63px 77px 0, $skin 70px 77px 0, lighten($skin, 10%) 77px 77px 0, lighten($skin, 10%) 84px 77px 0, lighten($skin, 20%) 91px 77px 0, lighten($skin, 20%) 98px 77px 0, lighten($skin, 20%) 105px 77px 0, lighten($skin, 10%) 112px 77px 0, lighten($skin, 10%) 119px 77px 0, lighten($skin, 10%) 126px 77px 0, lighten($skin, 10%) 133px 77px 0, lighten($skin, 10%) 140px 77px 0, $skin 147px 77px 0, $skin 154px 77px 0, $skin 161px 77px 0, $skin 168px 77px 0, $skin 175px 77px 0, $skin 182px 77px 0, $skin 189px 77px 0, $skin 196px 77px 0, $skin 203px 77px 0, $skin 210px 77px 0, $skin 217px 77px 0, darken($skin, 20%) 224px 77px 0, darken($skin, 20%) 56px 84px 0, $skin 63px 84px 0, $skin 70px 84px 0, lighten($skin, 10%) 77px 84px 0, lighten($skin, 10%) 84px 84px 0, lighten($skin, 10%) 91px 84px 0, lighten($skin, 10%) 98px 84px 0, lighten($skin, 10%) 105px 84px 0, lighten($skin, 10%) 112px 84px 0, lighten($skin, 10%) 119px 84px 0, lighten($skin, 10%) 126px 84px 0, lighten($skin, 10%) 133px 84px 0, lighten($skin, 10%) 140px 84px 0, lighten($skin, 10%) 147px 84px 0, $skin 154px 84px 0, $skin 161px 84px 0, $skin 168px 84px 0, $skin 175px 84px 0, $skin 182px 84px 0, $skin 189px 84px 0, $skin 196px 84px 0, $skin 203px 84px 0, $skin 210px 84px 0, $skin 217px 84px 0, darken($skin, 20%) 224px 84px 0, darken($skin, 20%) 56px 91px 0, $skin 63px 91px 0, $skin 70px 91px 0, $skin 77px 91px 0, $skin 84px 91px 0, $skin 91px 91px 0, $skin 98px 91px 0, $skin 105px 91px 0, $skin 112px 91px 0, $skin 119px 91px 0, $skin 126px 91px 0, $skin 133px 91px 0, $skin 140px 91px 0, $skin 147px 91px 0, $skin 154px 91px 0, $skin 161px 91px 0, $skin 168px 91px 0, $skin 175px 91px 0, $skin 182px 91px 0, $skin 189px 91px 0, $skin 196px 91px 0, $skin 203px 91px 0, $skin 210px 91px 0, $skin 217px 91px 0, darken($skin, 20%) 224px 91px 0, darken($skin, 20%) 56px 98px 0, $skin 63px 98px 0, $skin 70px 98px 0, lighten($skin, 10%) 77px 98px 0, lighten($skin, 10%) 84px 98px 0, lighten($skin, 10%) 91px 98px 0, lighten($skin, 10%) 98px 98px 0, lighten($skin, 10%) 105px 98px 0, lighten($skin, 10%) 112px 98px 0, lighten($skin, 10%) 119px 98px 0, lighten($skin, 10%) 126px 98px 0, lighten($skin, 10%) 133px 98px 0, lighten($skin, 10%) 140px 98px 0, lighten($skin, 10%) 147px 98px 0, $skin 154px 98px 0, $skin 161px 98px 0, $skin 168px 98px 0, $skin 175px 98px 0, $skin 182px 98px 0, $skin 189px 98px 0, $skin 196px 98px 0, $skin 203px 98px 0, $skin 210px 98px 0, $skin 217px 98px 0, darken($skin, 20%) 224px 98px 0, darken($skin, 20%) 56px 105px 0, $skin 63px 105px 0, $black 70px 105px 0, $black 77px 105px 0, $black 84px 105px 0, $black 91px 105px 0, $black 98px 105px 0, $black 105px 105px 0, $black 112px 105px 0, $black 119px 105px 0, $black 126px 105px 0, $black 133px 105px 0, $skin 140px 105px 0, $black 147px 105px 0, $black 154px 105px 0, $black 161px 105px 0, $black 168px 105px 0, $black 175px 105px 0, $black 182px 105px 0, $black 189px 105px 0, $black 196px 105px 0, $black 203px 105px 0, $black 210px 105px 0, $skin 217px 105px 0, darken($skin, 20%) 224px 105px 0, darken($skin, 20%) 49px 112px 0, darken($skin, 20%) 56px 112px 0, $black 63px 112px 0, $black 70px 112px 0, $black 77px 112px 0, $black 84px 112px 0, $black 91px 112px 0, $black 98px 112px 0, $black 105px 112px 0, $black 112px 112px 0, $black 119px 112px 0, $black 126px 112px 0, $black 133px 112px 0, $black 140px 112px 0, $black 147px 112px 0, $black 154px 112px 0, $black 161px 112px 0, $black 168px 112px 0, $black 175px 112px 0, $black 182px 112px 0, $black 189px 112px 0, $black 196px 112px 0, $black 203px 112px 0, $black 210px 112px 0, $black 217px 112px 0, darken($skin, 20%) 224px 112px 0, darken($skin, 20%) 231px 112px 0, darken($skin, 20%) 42px 119px 0, darken($skin, 10%) 49px 119px 0, darken($skin, 20%) 56px 119px 0, $skin 63px 119px 0, $black 70px 119px 0, $black 77px 119px 0, $black 84px 119px 0, $black 91px 119px 0, $black 98px 119px 0, $black 105px 119px 0, $black 112px 119px 0, $black 119px 119px 0, $black 126px 119px 0, $black 133px 119px 0, $black 140px 119px 0, $black 147px 119px 0, $black 154px 119px 0, $black 161px 119px 0, $black 168px 119px 0, $black 175px 119px 0, $black 182px 119px 0, $black 189px 119px 0, $black 196px 119px 0, $black 203px 119px 0, $black 210px 119px 0, $skin 217px 119px 0, darken($skin, 20%) 224px 119px 0, darken($skin, 10%) 231px 119px 0, darken($skin, 20%) 238px 119px 0, darken($skin, 20%) 35px 126px 0, darken($skin, 10%) 42px 126px 0, darken($skin, 10%) 49px 126px 0, darken($skin, 20%) 56px 126px 0, $skin 63px 126px 0, $skin 70px 126px 0, darken($skin, 20%) 77px 126px 0, darken($skin, 20%) 84px 126px 0, darken($skin, 20%) 91px 126px 0, darken($skin, 20%) 98px 126px 0, darken($skin, 20%) 105px 126px 0, darken($skin, 20%) 112px 126px 0, darken($skin, 20%) 119px 126px 0, darken($skin, 20%) 126px 126px 0, $skin 133px 126px 0, darken($skin, 25%) 140px 126px 0, $skin 147px 126px 0, darken($skin, 20%) 154px 126px 0, darken($skin, 20%) 161px 126px 0, darken($skin, 20%) 168px 126px 0, darken($skin, 20%) 175px 126px 0, darken($skin, 20%) 182px 126px 0, darken($skin, 20%) 189px 126px 0, darken($skin, 20%) 196px 126px 0, darken($skin, 20%) 203px 126px 0, $skin 210px 126px 0, $skin 217px 126px 0, darken($skin, 20%) 224px 126px 0, darken($skin, 10%) 231px 126px 0, darken($skin, 10%) 238px 126px 0, darken($skin, 20%) 245px 126px 0, darken($skin, 20%) 35px 133px 0, darken($skin, 10%) 42px 133px 0, darken($skin, 10%) 49px 133px 0, darken($skin, 20%) 56px 133px 0, $skin 63px 133px 0, $skin 70px 133px 0, darken($skin, 20%) 77px 133px 0, $white 84px 133px 0, $white 91px 133px 0, $black 98px 133px 0, $black 105px 133px 0, $black 112px 133px 0, $white 119px 133px 0, darken($skin, 10%) 126px 133px 0, darken($skin, 25%) 133px 133px 0, darken($skin, 25%) 140px 133px 0, darken($skin, 25%) 147px 133px 0, darken($skin, 10%) 154px 133px 0, $white 161px 133px 0, $black 168px 133px 0, $black 175px 133px 0, $black 182px 133px 0, $white 189px 133px 0, $white 196px 133px 0, darken($skin, 20%) 203px 133px 0, $skin 210px 133px 0, $skin 217px 133px 0, darken($skin, 20%) 224px 133px 0, darken($skin, 10%) 231px 133px 0, darken($skin, 10%) 238px 133px 0, darken($skin, 20%) 245px 133px 0, darken($skin, 20%) 35px 140px 0, darken($skin, 10%) 42px 140px 0, darken($skin, 10%) 49px 140px 0, darken($skin, 20%) 56px 140px 0, $skin 63px 140px 0, $skin 70px 140px 0, $skin 77px 140px 0, darken($skin, 20%) 84px 140px 0, $white 91px 140px 0, $white 98px 140px 0, $white 105px 140px 0, $white 112px 140px 0, $white 119px 140px 0, darken($skin, 10%) 126px 140px 0, darken($skin, 25%) 133px 140px 0, darken($skin, 25%) 140px 140px 0, darken($skin, 25%) 147px 140px 0, darken($skin, 10%) 154px 140px 0, $white 161px 140px 0, $white 168px 140px 0, $white 175px 140px 0, $white 182px 140px 0, $white 189px 140px 0, darken($skin, 20%) 196px 140px 0, $skin 203px 140px 0, $skin 210px 140px 0, $skin 217px 140px 0, darken($skin, 20%) 224px 140px 0, darken($skin, 10%) 231px 140px 0, darken($skin, 10%) 238px 140px 0, darken($skin, 20%) 245px 140px 0, darken($skin, 20%) 35px 147px 0, darken($skin, 10%) 42px 147px 0, darken($skin, 10%) 49px 147px 0, darken($skin, 20%) 56px 147px 0, $skin 63px 147px 0, $skin 70px 147px 0, $skin 77px 147px 0, $skin 84px 147px 0, darken($skin, 10%) 91px 147px 0, darken($skin, 10%) 98px 147px 0, darken($skin, 10%) 105px 147px 0, darken($skin, 10%) 112px 147px 0, darken($skin, 10%) 119px 147px 0, darken($skin, 10%) 126px 147px 0, darken($skin, 25%) 133px 147px 0, darken($skin, 25%) 140px 147px 0, darken($skin, 25%) 147px 147px 0, darken($skin, 10%) 154px 147px 0, darken($skin, 10%) 161px 147px 0, darken($skin, 10%) 168px 147px 0, darken($skin, 10%) 175px 147px 0, darken($skin, 10%) 182px 147px 0, darken($skin, 10%) 189px 147px 0, $skin 196px 147px 0, $skin 203px 147px 0, $skin 210px 147px 0, $skin 217px 147px 0, darken($skin, 20%) 224px 147px 0, darken($skin, 10%) 231px 147px 0, darken($skin, 10%) 238px 147px 0, darken($skin, 20%) 245px 147px 0, $black 21px 154px 0, darken($skin, 20%) 28px 154px 0, darken($skin, 20%) 35px 154px 0, darken($skin, 10%) 42px 154px 0, darken($skin, 10%) 49px 154px 0, darken($skin, 20%) 56px 154px 0, $skin 63px 154px 0, $skin 70px 154px 0, $skin 77px 154px 0, $skin 84px 154px 0, $skin 91px 154px 0, $skin 98px 154px 0, $skin 105px 154px 0, $skin 112px 154px 0, $skin 119px 154px 0, $skin 126px 154px 0, darken($skin, 25%) 133px 154px 0, darken($skin, 25%) 140px 154px 0, darken($skin, 25%) 147px 154px 0, $skin 154px 154px 0, $skin 161px 154px 0, $skin 168px 154px 0, $skin 175px 154px 0, $skin 182px 154px 0, $skin 189px 154px 0, $skin 196px 154px 0, $skin 203px 154px 0, $skin 210px 154px 0, $skin 217px 154px 0, darken($skin, 20%) 224px 154px 0, darken($skin, 10%) 231px 154px 0, darken($skin, 10%) 238px 154px 0, darken($skin, 20%) 245px 154px 0, darken($skin, 20%) 252px 154px 0, $black 259px 154px 0, $black 14px 161px 0, darken($skin, 20%) 21px 161px 0, $black 28px 161px 0, darken($skin, 20%) 35px 161px 0, darken($skin, 10%) 42px 161px 0, darken($skin, 10%) 49px 161px 0, darken($skin, 20%) 56px 161px 0, $skin 63px 161px 0, $skin 70px 161px 0, $skin 77px 161px 0, lighten($skin, 10%) 84px 161px 0, lighten($skin, 10%) 91px 161px 0, lighten($skin, 10%) 98px 161px 0, lighten($skin, 10%) 105px 161px 0, lighten($skin, 10%) 112px 161px 0, lighten($skin, 10%) 119px 161px 0, $skin 126px 161px 0, darken($skin, 25%) 133px 161px 0, darken($skin, 25%) 140px 161px 0, darken($skin, 25%) 147px 161px 0, $skin 154px 161px 0, lighten($skin, 10%) 161px 161px 0, lighten($skin, 10%) 168px 161px 0, lighten($skin, 10%) 175px 161px 0, lighten($skin, 10%) 182px 161px 0, lighten($skin, 10%) 189px 161px 0, lighten($skin, 10%) 196px 161px 0, $skin 203px 161px 0, $skin 210px 161px 0, $skin 217px 161px 0, darken($skin, 20%) 224px 161px 0, darken($skin, 10%) 231px 161px 0, darken($skin, 10%) 238px 161px 0, darken($skin, 20%) 245px 161px 0, $black 252px 161px 0, darken($skin, 20%) 259px 161px 0, $black 266px 161px 0, $black 7px 168px 0, darken($skin, 20%) 14px 168px 0, $black 21px 168px 0, $black 28px 168px 0, darken($skin, 20%) 35px 168px 0, darken($skin, 10%) 42px 168px 0, darken($skin, 10%) 49px 168px 0, darken($skin, 20%) 56px 168px 0, $skin 63px 168px 0, $skin 70px 168px 0, $skin 77px 168px 0, $skin 84px 168px 0, $skin 91px 168px 0, $skin 98px 168px 0, $skin 105px 168px 0, $skin 112px 168px 0, $skin 119px 168px 0, $skin 126px 168px 0, darken($skin, 25%) 133px 168px 0, darken($skin, 25%) 140px 168px 0, darken($skin, 25%) 147px 168px 0, $skin 154px 168px 0, $skin 161px 168px 0, $skin 168px 168px 0, $skin 175px 168px 0, $skin 182px 168px 0, $skin 189px 168px 0, $skin 196px 168px 0, $skin 203px 168px 0, $skin 210px 168px 0, $skin 217px 168px 0, darken($skin, 20%) 224px 168px 0, darken($skin, 10%) 231px 168px 0, darken($skin, 10%) 238px 168px 0, darken($skin, 20%) 245px 168px 0, $black 252px 168px 0, $black 259px 168px 0, darken($skin, 20%) 266px 168px 0, $black 273px 168px 0, $black 0px 175px 0, darken($skin, 20%) 7px 175px 0, darken($skin, 20%) 14px 175px 0, $black 21px 175px 0, $black 28px 175px 0, $black 35px 175px 0, $black 42px 175px 0, darken($skin, 10%) 49px 175px 0, darken($skin, 20%) 56px 175px 0, darken($skin, 10%) 63px 175px 0, $skin 70px 175px 0, $skin 77px 175px 0, $skin 84px 175px 0, $skin 91px 175px 0, $skin 98px 175px 0, $skin 105px 175px 0, $skin 112px 175px 0, $skin 119px 175px 0, $skin 126px 175px 0, darken($skin, 25%) 133px 175px 0, darken($skin, 25%) 140px 175px 0, darken($skin, 25%) 147px 175px 0, $skin 154px 175px 0, $skin 161px 175px 0, $skin 168px 175px 0, $skin 175px 175px 0, $skin 182px 175px 0, $skin 189px 175px 0, $skin 196px 175px 0, $skin 203px 175px 0, $skin 210px 175px 0, darken($skin, 10%) 217px 175px 0, darken($skin, 20%) 224px 175px 0, darken($skin, 10%) 231px 175px 0, $black 238px 175px 0, $black 245px 175px 0, $black 252px 175px 0, $black 259px 175px 0, darken($skin, 20%) 266px 175px 0, darken($skin, 20%) 273px 175px 0, $black 280px 175px 0, $black 0px 182px 0, darken($skin, 20%) 7px 182px 0, $black 14px 182px 0, $black 21px 182px 0, $black 28px 182px 0, $white 35px 182px 0, $black 42px 182px 0, $black 49px 182px 0, darken($skin, 20%) 56px 182px 0, darken($skin, 10%) 63px 182px 0, $skin 70px 182px 0, $mouth 77px 182px 0, $skin 84px 182px 0, $skin 91px 182px 0, $skin 98px 182px 0, $black 105px 182px 0, $black 112px 182px 0, $black 119px 182px 0, $black 126px 182px 0, $black 133px 182px 0, $black 140px 182px 0, $black 147px 182px 0, $black 154px 182px 0, $black 161px 182px 0, $black 168px 182px 0, $black 175px 182px 0, $skin 182px 182px 0, $skin 189px 182px 0, $skin 196px 182px 0, $mouth 203px 182px 0, $skin 210px 182px 0, darken($skin, 10%) 217px 182px 0, darken($skin, 20%) 224px 182px 0, $black 231px 182px 0, $black 238px 182px 0, $white 245px 182px 0, $black 252px 182px 0, $black 259px 182px 0, $black 266px 182px 0, darken($skin, 20%) 273px 182px 0, $black 280px 182px 0, $black 0px 189px 0, darken($skin, 20%) 7px 189px 0, $black 14px 189px 0, $black 21px 189px 0, $black 28px 189px 0, $white 35px 189px 0, $black 42px 189px 0, $black 49px 189px 0, darken($skin, 20%) 56px 189px 0, darken($skin, 10%) 63px 189px 0, $skin 70px 189px 0, $skin 77px 189px 0, $mouth 84px 189px 0, $skin 91px 189px 0, $black 98px 189px 0, $black 105px 189px 0, $black 112px 189px 0, $black 119px 189px 0, $black 126px 189px 0, $black 133px 189px 0, $skin 140px 189px 0, $black 147px 189px 0, $black 154px 189px 0, $black 161px 189px 0, $black 168px 189px 0, $black 175px 189px 0, $black 182px 189px 0, $skin 189px 189px 0, $mouth 196px 189px 0, $skin 203px 189px 0, $skin 210px 189px 0, darken($skin, 10%) 217px 189px 0, darken($skin, 20%) 224px 189px 0, $black 231px 189px 0, $black 238px 189px 0, $white 245px 189px 0, $black 252px 189px 0, $black 259px 189px 0, $black 266px 189px 0, darken($skin, 20%) 273px 189px 0, $black 280px 189px 0, $black 0px 196px 0, darken($skin, 20%) 7px 196px 0, $black 14px 196px 0, $black 21px 196px 0, $white 28px 196px 0, $black 35px 196px 0, $black 42px 196px 0, $black 49px 196px 0, $black 56px 196px 0, darken($skin, 10%) 63px 196px 0, $skin 70px 196px 0, $skin 77px 196px 0, $skin 84px 196px 0, $black 91px 196px 0, $black 98px 196px 0, $black 105px 196px 0, $black 112px 196px 0, $black 119px 196px 0, $black 126px 196px 0, $skin 133px 196px 0, $skin 140px 196px 0, $skin 147px 196px 0, $black 154px 196px 0, $black 161px 196px 0, $black 168px 196px 0, $black 175px 196px 0, $black 182px 196px 0, $black 189px 196px 0, $skin 196px 196px 0, $skin 203px 196px 0, $skin 210px 196px 0, darken($skin, 10%) 217px 196px 0, $black 224px 196px 0, $black 231px 196px 0, $black 238px 196px 0, $black 245px 196px 0, $white 252px 196px 0, $black 259px 196px 0, $black 266px 196px 0, darken($skin, 20%) 273px 196px 0, $black 280px 196px 0, $black 0px 203px 0, darken($skin, 20%) 7px 203px 0, $black 14px 203px 0, $black 21px 203px 0, $white 28px 203px 0, $black 35px 203px 0, $black 42px 203px 0, $black 49px 203px 0, $black 56px 203px 0, darken($skin, 10%) 63px 203px 0, $skin 70px 203px 0, $skin 77px 203px 0, $skin 84px 203px 0, $black 91px 203px 0, $black 98px 203px 0, $black 105px 203px 0, $skin 112px 203px 0, $skin 119px 203px 0, $skin 126px 203px 0, $skin 133px 203px 0, $skin 140px 203px 0, $skin 147px 203px 0, $skin 154px 203px 0, $skin 161px 203px 0, $skin 168px 203px 0, $black 175px 203px 0, $black 182px 203px 0, $black 189px 203px 0, $skin 196px 203px 0, $skin 203px 203px 0, $skin 210px 203px 0, darken($skin, 10%) 217px 203px 0, $black 224px 203px 0, $black 231px 203px 0, $black 238px 203px 0, $black 245px 203px 0, $white 252px 203px 0, $black 259px 203px 0, $black 266px 203px 0, darken($skin, 20%) 273px 203px 0, $black 280px 203px 0, $black 0px 210px 0, darken($skin, 20%) 7px 210px 0, $black 14px 210px 0, $black 21px 210px 0, $white 28px 210px 0, $black 35px 210px 0, $black 42px 210px 0, $black 49px 210px 0, $black 56px 210px 0, darken($skin, 10%) 63px 210px 0, $skin 70px 210px 0, $skin 77px 210px 0, $skin 84px 210px 0, $black 91px 210px 0, $black 98px 210px 0, $mouth 105px 210px 0, $mouth 112px 210px 0, $mouth 119px 210px 0, $white 126px 210px 0, $white 133px 210px 0, $white 140px 210px 0, $white 147px 210px 0, $white 154px 210px 0, $mouth 161px 210px 0, $mouth 168px 210px 0, $mouth 175px 210px 0, $black 182px 210px 0, $black 189px 210px 0, $skin 196px 210px 0, $skin 203px 210px 0, $skin 210px 210px 0, darken($skin, 10%) 217px 210px 0, $black 224px 210px 0, $black 231px 210px 0, $black 238px 210px 0, $black 245px 210px 0, $white 252px 210px 0, $black 259px 210px 0, $black 266px 210px 0, darken($skin, 20%) 273px 210px 0, $black 280px 210px 0, $black 0px 217px 0, darken($skin, 20%) 7px 217px 0, $black 14px 217px 0, $black 21px 217px 0, $black 28px 217px 0, $white 35px 217px 0, $black 42px 217px 0, $black 49px 217px 0, $black 56px 217px 0, $black 63px 217px 0, $skin 70px 217px 0, $skin 77px 217px 0, $skin 84px 217px 0, $black 91px 217px 0, $skin 98px 217px 0, $skin 105px 217px 0, $skin 112px 217px 0, $mouth 119px 217px 0, $mouth 126px 217px 0, $mouth 133px 217px 0, $mouth 140px 217px 0, $mouth 147px 217px 0, $mouth 154px 217px 0, $mouth 161px 217px 0, $skin 168px 217px 0, $skin 175px 217px 0, $skin 182px 217px 0, $black 189px 217px 0, $skin 196px 217px 0, $skin 203px 217px 0, $skin 210px 217px 0, $black 217px 217px 0, $black 224px 217px 0, $black 231px 217px 0, $black 238px 217px 0, $white 245px 217px 0, $black 252px 217px 0, $black 259px 217px 0, $black 266px 217px 0, darken($skin, 20%) 273px 217px 0, $black 280px 217px 0, $black 7px 224px 0, darken($skin, 20%) 14px 224px 0, $black 21px 224px 0, $black 28px 224px 0, $black 35px 224px 0, $black 42px 224px 0, $black 49px 224px 0, $black 56px 224px 0, $black 63px 224px 0, $black 70px 224px 0, $skin 77px 224px 0, $skin 84px 224px 0, $black 91px 224px 0, $skin 98px 224px 0, $skin 105px 224px 0, $skin 112px 224px 0, $skin 119px 224px 0, $mouth 126px 224px 0, $mouth 133px 224px 0, $mouth 140px 224px 0, $mouth 147px 224px 0, $mouth 154px 224px 0, $skin 161px 224px 0, $skin 168px 224px 0, $skin 175px 224px 0, $skin 182px 224px 0, $black 189px 224px 0, $skin 196px 224px 0, $skin 203px 224px 0, $black 210px 224px 0, $black 217px 224px 0, $black 224px 224px 0, $black 231px 224px 0, $black 238px 224px 0, $black 245px 224px 0, $black 252px 224px 0, $black 259px 224px 0, darken($skin, 20%) 266px 224px 0, $black 273px 224px 0, $black 14px 231px 0, darken($skin, 20%) 21px 231px 0, $black 28px 231px 0, $black 35px 231px 0, $black 56px 231px 0, $black 63px 231px 0, $black 70px 231px 0, $black 77px 231px 0, $skin 84px 231px 0, $black 91px 231px 0, $skin 98px 231px 0, $skin 105px 231px 0, $skin 112px 231px 0, $skin 119px 231px 0, $skin 126px 231px 0, $skin 133px 231px 0, $black 140px 231px 0, $skin 147px 231px 0, $skin 154px 231px 0, $skin 161px 231px 0, $skin 168px 231px 0, $skin 175px 231px 0, $skin 182px 231px 0, $black 189px 231px 0, $skin 196px 231px 0, $black 203px 231px 0, $black 210px 231px 0, $black 217px 231px 0, $black 224px 231px 0, $black 245px 231px 0, $black 252px 231px 0, darken($skin, 20%) 259px 231px 0, $black 266px 231px 0, $black 56px 238px 0, $black 63px 238px 0, $black 70px 238px 0, $black 77px 238px 0, $black 84px 238px 0, $black 91px 238px 0, $skin 98px 238px 0, $skin 105px 238px 0, $skin 112px 238px 0, $skin 119px 238px 0, $skin 126px 238px 0, $black 133px 238px 0, $black 140px 238px 0, $black 147px 238px 0, $skin 154px 238px 0, $skin 161px 238px 0, $skin 168px 238px 0, $skin 175px 238px 0, $skin 182px 238px 0, $black 189px 238px 0, $black 196px 238px 0, $black 203px 238px 0, $black 210px 238px 0, $black 217px 238px 0, $black 224px 238px 0, $black 63px 245px 0, $black 70px 245px 0, $black 77px 245px 0, $black 84px 245px 0, $black 91px 245px 0, $black 98px 245px 0, $skin 105px 245px 0, $skin 112px 245px 0, $skin 119px 245px 0, $skin 126px 245px 0, $black 133px 245px 0, $black 140px 245px 0, $black 147px 245px 0, $skin 154px 245px 0, $skin 161px 245px 0, $skin 168px 245px 0, $skin 175px 245px 0, $black 182px 245px 0, $black 189px 245px 0, $black 196px 245px 0, $black 203px 245px 0, $black 210px 245px 0, $black 217px 245px 0, $black 70px 252px 0, $black 77px 252px 0, $black 84px 252px 0, $black 91px 252px 0, $black 98px 252px 0, $black 105px 252px 0, $skin 112px 252px 0, $skin 119px 252px 0, $skin 126px 252px 0, $black 133px 252px 0, $black 140px 252px 0, $black 147px 252px 0, $skin 154px 252px 0, $skin 161px 252px 0, $skin 168px 252px 0, $black 175px 252px 0, $black 182px 252px 0, $black 189px 252px 0, $black 196px 252px 0, $black 203px 252px 0, $black 210px 252px 0, $black 70px 259px 0, $black 77px 259px 0, $black 84px 259px 0, $black 91px 259px 0, $black 98px 259px 0, $black 105px 259px 0, $black 112px 259px 0, $skin 119px 259px 0, $skin 126px 259px 0, $black 133px 259px 0, $black 140px 259px 0, $black 147px 259px 0, $skin 154px 259px 0, $skin 161px 259px 0, $black 168px 259px 0, $black 175px 259px 0, $black 182px 259px 0, $black 189px 259px 0, $black 196px 259px 0, $black 203px 259px 0, $black 210px 259px 0, $black 70px 266px 0, $black 77px 266px 0, $black 84px 266px 0, $black 91px 266px 0, $black 98px 266px 0, $black 105px 266px 0, $black 112px 266px 0, $black 119px 266px 0, $black 126px 266px 0, $black 133px 266px 0, $black 140px 266px 0, $black 147px 266px 0, $black 154px 266px 0, $black 161px 266px 0, $black 168px 266px 0, $black 175px 266px 0, $black 182px 266px 0, $black 189px 266px 0, $black 196px 266px 0, $black 203px 266px 0, $black 210px 266px 0, $black 77px 273px 0, $black 84px 273px 0, $black 91px 273px 0, $black 98px 273px 0, $black 105px 273px 0, $black 112px 273px 0, $black 119px 273px 0, $black 126px 273px 0, $black 133px 273px 0, $black 140px 273px 0, $black 147px 273px 0, $black 154px 273px 0, $black 161px 273px 0, $black 168px 273px 0, $black 175px 273px 0, $black 182px 273px 0, $black 189px 273px 0, $black 196px 273px 0, $black 203px 273px 0, $black 84px 280px 0, $black 91px 280px 0, $black 98px 280px 0, $black 105px 280px 0, $black 112px 280px 0, $black 119px 280px 0, $black 126px 280px 0, $black 133px 280px 0, $black 140px 280px 0, $black 147px 280px 0, $black 154px 280px 0, $black 161px 280px 0, $black 168px 280px 0, $black 175px 280px 0, $black 182px 280px 0, $black 189px 280px 0, $black 196px 280px 0, $black 91px 287px 0, $black 98px 287px 0, $black 105px 287px 0, $black 112px 287px 0, $black 119px 287px 0, $black 126px 287px 0, $black 133px 287px 0, $black 140px 287px 0, $black 147px 287px 0, $black 154px 287px 0, $black 161px 287px 0, $black 168px 287px 0, $black 175px 287px 0, $black 182px 287px 0, $black 189px 287px 0, $black 98px 294px 0, $black 105px 294px 0, $black 112px 294px 0, $black 119px 294px 0, $black 126px 294px 0, $black 133px 294px 0, $black 140px 294px 0, $black 147px 294px 0, $black 154px 294px 0, $black 161px 294px 0, $black 168px 294px 0, $black 175px 294px 0, $black 182px 294px 0, $black 105px 301px 0, $black 112px 301px 0, $black 119px 301px 0, $black 126px 301px 0, $black 133px 301px 0, $black 140px 301px 0, $black 147px 301px 0, $black 154px 301px 0, $black 161px 301px 0, $black 168px 301px 0, $black 175px 301px 0, $skin 105px 308px 0, $black 112px 308px 0, $black 119px 308px 0, $black 126px 308px 0, $black 133px 308px 0, $black 140px 308px 0, $black 147px 308px 0, $black 154px 308px 0, $black 161px 308px 0, $black 168px 308px 0, $skin 175px 308px 0, $skin 105px 315px 0, $skin 112px 315px 0, $skin 119px 315px 0, $black 126px 315px 0, $skin 133px 315px 0, $skin 140px 315px 0, $skin 147px 315px 0, $black 154px 315px 0, $skin 161px 315px 0, $skin 168px 315px 0, $skin 175px 315px 0, darken($skin, 20%) 105px 322px 0, $skin 112px 322px 0, $skin 119px 322px 0, $skin 126px 322px 0, $skin 133px 322px 0, $skin 140px 322px 0, $skin 147px 322px 0, $skin 154px 322px 0, $skin 161px 322px 0, $skin 168px 322px 0, darken($skin, 20%) 175px 322px 0, $skin 105px 329px 0, darken($skin, 20%) 112px 329px 0, $skin 119px 329px 0, $skin 126px 329px 0, darken($skin, 20%) 133px 329px 0, darken($skin, 20%) 140px 329px 0, darken($skin, 20%) 147px 329px 0, $skin 154px 329px 0, $skin 161px 329px 0, darken($skin, 20%) 168px 329px 0, $skin 175px 329px 0, $skin 105px 336px 0, $skin 112px 336px 0, $skin 119px 336px 0, darken($skin, 20%) 126px 336px 0, $lemon 133px 336px 0, $lemon 140px 336px 0, $white 147px 336px 0, darken($skin, 20%) 154px 336px 0, $skin 161px 336px 0, $skin 168px 336px 0, $skin 175px 336px 0, darken($skin, 20%) 105px 343px 0, $skin 112px 343px 0, darken($skin, 20%) 119px 343px 0, $lemon 126px 343px 0, $lemon 133px 343px 0, darken($skin, 20%) 140px 343px 0, $lemon 147px 343px 0, $lemon 154px 343px 0, darken($skin, 20%) 161px 343px 0, $skin 168px 343px 0, darken($skin, 20%) 175px 343px 0, $skin 105px 350px 0, $skin 112px 350px 0, $skin 119px 350px 0, darken($skin, 20%) 126px 350px 0, $lemon 133px 350px 0, $lemon 140px 350px 0, $lemon 147px 350px 0, darken($skin, 20%) 154px 350px 0, $skin 161px 350px 0, $skin 168px 350px 0, $skin 175px 350px 0, darken($skin, 20%) 105px 357px 0, $skin 112px 357px 0, $skin 119px 357px 0, $skin 126px 357px 0, darken($skin, 20%) 133px 357px 0, darken($skin, 20%) 140px 357px 0, darken($skin, 20%) 147px 357px 0, $skin 154px 357px 0, $skin 161px 357px 0, $skin 168px 357px 0, darken($skin, 20%) 175px 357px 0, $skin 105px 364px 0, darken($skin, 20%) 112px 364px 0, $skin 119px 364px 0, $skin 126px 364px 0, $skin 133px 364px 0, $skin 140px 364px 0, $skin 147px 364px 0, $skin 154px 364px 0, $skin 161px 364px 0, darken($skin, 20%) 168px 364px 0, $skin 175px 364px 0, $skin 105px 371px 0, $skin 112px 371px 0, darken($skin, 20%) 119px 371px 0, $skin 126px 371px 0, $skin 133px 371px 0, $skin 140px 371px 0, $skin 147px 371px 0, $skin 154px 371px 0, darken($skin, 20%) 161px 371px 0, $skin 168px 371px 0, $skin 175px 371px 0, $skin 105px 378px 0, $skin 112px 378px 0, darken($skin, 20%) 119px 378px 0, $skin 126px 378px 0, $skin 133px 378px 0, $skin 140px 378px 0, $skin 147px 378px 0, $skin 154px 378px 0, darken($skin, 20%) 161px 378px 0, $skin 168px 378px 0, $skin 175px 378px 0, $skin 105px 385px 0, $skin 112px 385px 0, darken($skin, 20%) 119px 385px 0, $skin 126px 385px 0, $skin 133px 385px 0, $skin 140px 385px 0, $skin 147px 385px 0, $skin 154px 385px 0, darken($skin, 20%) 161px 385px 0, $skin 168px 385px 0, $skin 175px 385px 0);
    }
}

@import "main-responsive.scss";